.btn:focus{
    outline: none !important;
    box-shadow: none !important;
}

.link a:hover {
    color: white;
}

.link-item:hover {
    background-color: #ff4b1f;
}

.payment a:hover {
    border: 1px solid #ff4b1f !important;
    color: black !important;
}

.payment-text {
    font-size: 11px;
}

.link .active {
    background-color: #ff4b1f;
    color: white;
}

.active span, .active i {
    color: white;
}

.silver-bg {
    background-color: rgb(245, 243, 243);
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
}

.how-to-use, .about-product, .reviews {
    display: none;
}

@media only screen and (max-width: 768px) {
    .link-item {
      text-align: center;
    }

    h3 {
        font-size: 20px;
    }

    .list-of-product table tr th, .list-of-product table tr td {
        font-size: 10px;
    }

    .product-img, .product-image-header {
        display: none;
    }

    .list-of-product table tr td .btn {
        font-size: 8px;
        padding: 0;
    }
}

